/** {
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(17,17,17,1) 0%,rgba(102,102,102,1) 1%,rgba(73,73,73,1) 1%,rgba(102,102,102,1) 3%,rgba(89,89,89,1) 4%,rgba(91,91,91,1) 18%,rgba(102,102,102,1) 29%,rgba(102,102,102,1) 29%,rgba(17,17,17,1) 33%,rgba(58,58,58,1) 33%,rgba(86,86,86,1) 36%,rgba(102,102,102,1) 36%,rgba(102,102,102,1) 36%,rgba(86,86,86,1) 36%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 77%,rgba(0,0,0,1) 77%,rgba(43,43,43,1) 82%,rgba(43,43,43,1) 82%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
}*/

#board {
  width: 1100px;
  height: 700px;
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 21%,rgb(111, 106, 106) 39%,rgb(113, 109, 109) 50%,rgb(105, 103, 103) 76%,rgb(80, 77, 77) 91%,rgb(76, 74, 74) 99%,rgb(76, 76, 76) 100%);
}

#TopBar {
  display: flex;
  color: #FFFFFF;
  font-family: Helvetica; /* temporary */
  font-size: 0.8em;
}

#TopBar article:first-of-type {
  margin-left: 10px;
}

#TopBar article:last-of-type {
  margin-left: auto;
  margin-right: 10px;
}

#P1, #P2 {
  width: 50px;
  height: 50px;
  position: absolute;
}

#startScreen {
  position: absolute;
  width: 1200px;
  height: 1000px;
  background: black;
  background-size: 800px 572px;
  background-position: center;
  background-image: url('src/startscreen.jpg');
  background-repeat: no-repeat;
  z-index: 2;
}

.bullet1 {
  position: absolute;
  background-color: #3b3bdd;
  width: 1px;
  height: 35px;
  border: solid 2px #3b3bdd;
  box-shadow: inset 1px 1px 10px 2px #42b3f4;
  border-radius: 10px;
}

.bullet2 {
  position: absolute;
  background-color: #c930ba;
  width: 1px;
  height: 35px;
  border: solid 2px #c930ba;
  box-shadow: inset 1px 1px 10px 2px #f740e5;
  border-radius: 10px;
}

.labyrinthBlock {
  position: absolute;
  background: linear-gradient(#33332e, #75756c);
  width: 50px;
  height: 50px;
  border: solid 2px #8623B8;
  box-shadow: inset 0px 0px 10px 0px #8623B8;
}

.BorderBlock {
  position: absolute;
  background: linear-gradient(#33332e, #75756c);
  width: 50px;
  height: 50px;
  background-color: red;
  animation: 15s borderAnimation infinite;
}

@keyframes borderAnimation {
  0%, 100% {
    border: solid 2px #8623B8;
    box-shadow: inset 0px 0px 10px 0px #8623B8;
  }
  30% {
    border: solid 2px #f442d7;
    box-shadow: inset 0px 0px 10px 0px #f442d7;
  }
  50% {
    border: solid 2px #d33030;
    box-shadow: inset 0px 0px 10px 0px #d33030;
  }
  70% {
    border: solid 2px #f3f315;
    box-shadow: inset 0px 0px 10px 0px #f3f315;
  }
  90% {
    border: solid 2px chartreuse;
    box-shadow: inset 0px 0px 10px 0px chartreuse;
  }
}

.monsters {
  width: 40px;
  height: 40px;
  position: absolute;
}
