
#P1, #P2 {
  width: 50px;
  height: 70px;
  background-color: chartreuse;
  position: absolute;
}

.bullet {
  position: absolute;
  background-color: red;
  width: 5px;
  height: 5px;
}

.labyrinthBlock {
  position: absolute;
  background: linear-gradient(#33332e, #75756c);
  width: 50px;
  height: 50px;
  border: solid 2px #8623B8;
  box-shadow: inset 0px 0px 10px 0px #8623B8;
  box-sizing: border-box;
}

#board {
  width: 600px;
  height: 500px;
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 21%,rgb(111, 106, 106) 39%,rgb(113, 109, 109) 50%,rgb(105, 103, 103) 76%,rgb(80, 77, 77) 91%,rgb(76, 74, 74) 99%,rgb(76, 76, 76) 100%);
}
